# Hidden files and directories (except .gitignore and .github)
.*
!.gitignore
!.github

# Text and markdown files (except README.md files)
*.txt
*.md
!README.md
!**/README.md


# Added by cargo

/target
